body {
	margin: 0;
	background-color: aliceblue;
	padding: 30px 0px;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
	margin-left: 20px;
	color: gray;
}

h3 {
	margin-left: 35px;
}

.face-box {
	display: flex;
	flex-direction: row;
}

.box {
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 10%;
	padding: 10px;
	margin-left: 20px;
}

.pip {
	width: 33px;
	height: 33px;
	background-color: #fff;
	border-radius: 50%;
}

.first-face-1 {
	display: flex;
}

.first-face-2 {
	display: flex;
	justify-content: center;
}

.first-face-3 {
	display: flex;
	justify-content: flex-end;
}

.first-face-4 {
	display: flex;
	justify-content: flex-start;
	align-items:  center;
}

.first-face-5 {
	display: flex;
	justify-content: center;
	align-items:  center;
}

.first-face-6 {
	display: flex;
	justify-content: flex-end;
	align-items:  center;
}

.first-face-7 {
	display: flex;
	justify-content: flex-start;
	align-items:  flex-end;
}

.first-face-8 {
	display: flex;
	justify-content: center;
	align-items:  flex-end;
}

.first-face-9 {
	display: flex;
	justify-content: flex-end;
	align-items:  flex-end;
}

.second-face-1 {
	display: flex;
	justify-content: space-between;
}

.second-face-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-face-3 {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.second-face-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.second-face-5 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.second-face-6 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.second-face-7 {
	display: flex;
}

.pip-second-7-2 {
	display: flex;
	align-self: center;
}

.second-face-8 {
	display: flex;
	justify-content: space-between;
}

.pip-second-8-2 {
	align-self: flex-end;
}

.second-face-9 {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.pip-second-9-2 {
	align-self: flex-end;
}

.third-face-1 {
	display: flex;
}

.pip-third-1-2 {
	align-self: center;
}

.pip-third-1-3 {
	align-self: flex-end;
}

.third-face-2 {
	display: flex;
	flex-direction: row-reverse;
}

.pip-third-2-2 {
	align-self: center;
}

.pip-third-2-3 {
	align-self: flex-end;
}

.third-face-3 {
	display: flex;
	flex-direction: column;
}

.pip-third-3-2 {
	align-self: center;
}

.third-face-4 {
	display: flex;
	flex-direction: column;
}

.pip-third-4-3 {
	align-self: center;
}

.third-face-5 {
	display: flex;
}

.third-face-6 {
	display: flex;
}

.pip-third-6-2 {
	align-self: center;
}

.third-face-7 {
	display: flex;
}

.pip-third-7-3 {
	align-self: center;
}

.fourth-face-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: space-between;
}

.fourth-face-2 {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}

.fourth-column {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
}

.six-face-1 {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.six-face-2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
}

.six-face-3 {
	display: flex;
	flex-wrap: wrap;
}

.six-row-3-1 {
	display: flex;
	flex-basis: 100%;
}

.six-row-3-2 {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
}

.six-row-3-3 {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
}

.nine-face-1 {
	display: flex;
	flex-wrap: wrap;
}